<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/line.ico" type="image/x-icon">
    <link rel="stylesheet" href="style/main.css">
    <script src="js/vue.js"></script>
    <title>LINE</title>
</head>
<body>
    <div id="app" class="layout">
        <div class="bgswitch">
            <div class="swiper">
                <template v-for="(item,index) in swiperList">
                    <div class="slide" :key="index" :style="rebgi(item)" v-if="slideIdx == index"></div>
                </template>
            </div> 
        </div>
        
        <div class="top">
            <div class="logo">
                <img src="img/logo_1.png">
            </div>
        </div>
        <div class="meInfo">
            <div class="avatar">
                <img src="img/avatar.jpg">
            </div>
            <div class="title">
                <p>🌈路小雨Ⓡⓐⓘⓝ🎇</p>
                <p>台中萌系小女友🐇</p>
            </div>
        </div>
        <div class="btnGroup">
            <div class="tip">
                <p>如果遇到帳號好友加滿</p>
                <p>請換一個帳號試試，謝謝哥哥❤️</p>
            </div>
            <div class="btn" v-for="(item,index) in lineData" :key="index" @click="openLine(index)">{{item.title}}</div>
        </div>
    </div> 

    <script>
        const { createApp, ref, onMounted } = Vue;
        createApp({
            setup() {
                const lineData = ref([
                    {title: '🌈路小雨Ⓡⓐⓘⓝ🐇(1)', url: 'https://line.me/R/ti/p/~ghu99'}
                ]);
                const slideIdx = ref(0);
                const swiperList = ref([
                    'img/model_1.jpg',
                    'img/model_2.jpg',
                    'img/model_3.jpg'
                ]);

                // 開啟連結
                function openLine(num) {
                    window.open(lineData.value[num].url);
                }
               
                // 創立背景輪播
                const createSwiper = () => {
                    setInterval(()=>{
                        slideIdx.value = slideIdx.value == 2 ? 0 : slideIdx.value + 1
                    },7000)
                }

                function rebgi(src) {
                    return `background-image:url(${src});`;
                }
                
                onMounted(async () => {
                    createSwiper()
                });
                return {
                    lineData,
                    slideIdx,
                    swiperList,
                    openLine,
                    createSwiper,
                    rebgi
                };
            },
        }).mount("#app");
    </script>
</body>
</html>