@import "reset";
@import "method";

body {
    font-size: 18px;
    position: relative;
    background: #c02e8d;
    background: no-repeat url("../img/model_2s.jpg") center top / cover;
    color: #fff;
}

.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    margin-bottom: 30px;
    padding: 20px 25px;
    .logo {
        width: 40px;
    }
}

.meInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
        width: 90px;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid rgba(255, 255, 255, 0.8);
    }

    .title {
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
}

.btnGroup {
    padding: 30px 15px;
    .tip {
        padding: 0 20px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
    }
    .btn{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        background-color: #07b53b;
        border-radius: 5px;

        & + .btn {
            margin-top: 15px;
        }
    }
}

